USE [master]
GO
/****** Object:  Database [MyShopUsers1]    Script Date: 04/03/2025 19:34:28 ******/
CREATE DATABASE [MyShopUsers1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyShopUsers1', FILENAME = N'D:\SqlData\MSSQL15.PUPILS\MSSQL\DATA\MyShopUsers1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'MyShopUsers1_log', FILENAME = N'D:\SqlData\MSSQL15.PUPILS\MSSQL\DATA\MyShopUsers1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyShopUsers1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyShopUsers1]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 04/03/2025 19:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 04/03/2025 19:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[OrderID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 04/03/2025 19:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderSum] [money] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 04/03/2025 19:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[Price] [money] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[ImgURL] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RATING]    Script Date: 04/03/2025 19:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RATING](
	[RATING_ID] [int] IDENTITY(1,1) NOT NULL,
	[HOST] [nvarchar](50) NULL,
	[METHOD] [nchar](10) NULL,
	[PATH] [nvarchar](50) NULL,
	[REFERER] [nvarchar](100) NULL,
	[USER_AGENT] [nvarchar](max) NULL,
	[Record_Date] [datetime] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_RATING] PRIMARY KEY CLUSTERED 
(
	[RATING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04/03/2025 19:34:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](50) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[FirstName] [nchar](50) NOT NULL,
	[LastName] [nchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (1, N'ביגוד                                             ')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (2, N'בקבוקים                                           ')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName]) VALUES (3, N'נעלים                                             ')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([OrderItemID], [ProductID], [OrderID], [Quantity]) VALUES (46, 51, 21, 0)
INSERT [dbo].[OrderItem] ([OrderItemID], [ProductID], [OrderID], [Quantity]) VALUES (47, 52, 21, 0)
INSERT [dbo].[OrderItem] ([OrderItemID], [ProductID], [OrderID], [Quantity]) VALUES (48, 54, 21, 0)
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID]) VALUES (2, CAST(N'2025-01-16T10:00:23.793' AS DateTime), 31.0000, 1)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID]) VALUES (3, CAST(N'2025-01-16T10:03:27.687' AS DateTime), 110.0000, 1)
INSERT [dbo].[Orders] ([OrderID], [OrderDate], [OrderSum], [UserID]) VALUES (4, CAST(N'2025-01-16T11:15:20.403' AS DateTime), 123.0000, 2)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [CategoryID], [Description], [ImgURL]) VALUES (1, N'פוטר ילדים', 150.0000, 1, N'פוטר שחור עם סמל מותג גדול במרכז נעים ונח במיוחד לילדים', N'1.jpg')
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [CategoryID], [Description], [ImgURL]) VALUES (3, N'כובע גרב', 96.0000, 4, N'כובע מחמם במיוחד  בצבע שחור ממותג בקידמה מגן על האזנים', N'6.jpg')
INSERT [dbo].[Products] ([ProductID], [ProductName], [Price], [CategoryID], [Description], [ImgURL]) VALUES (9, N'תיק גב', 223.9000, 5, N'תיק גב נח לנשיאה מכיל וגדול בצבע ורוד עדין שני תאים גדולים + תא קידמי ותא אחורי למחשב', N'11.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[RATING] ON 

INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date], [UserID]) VALUES (9, N'localhost:7072', N'GET       ', N'/api/Products', N'https://localhost:7072/HTML/Products.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36', CAST(N'2025-01-20T17:35:33.200' AS DateTime), NULL)
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date], [UserID]) VALUES (10, N'localhost:7072', N'GET       ', N'/api/Category', N'https://localhost:7072/HTML/Products.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36', CAST(N'2025-01-20T17:35:33.200' AS DateTime), NULL)
INSERT [dbo].[RATING] ([RATING_ID], [HOST], [METHOD], [PATH], [REFERER], [USER_AGENT], [Record_Date], [UserID]) VALUES (11, N'localhost:7072                                    ', N'GET       ', N'/api/Category', N'https://localhost:7072/HTML/Products.html', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36', CAST(N'2025-01-20T18:00:40.697' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[RATING] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserName], [Password], [FirstName], [LastName]) VALUES (1, N'sss                                               ', N'123456                                            ', N'dfg                                               ', N'edtyhgj                                           ')
INSERT [dbo].[Users] ([ID], [UserName], [Password], [FirstName], [LastName]) VALUES (2, N'uu@t.j                                            ', N'0pRdf12!3333                                      ', N'00                                                ', N'0                                                 ')
INSERT [dbo].[Users] ([ID], [UserName], [Password], [FirstName], [LastName]) VALUES (3, N'g@j.l                                             ', N'rr!Q345d;j                                        ', N'kk                                                ', N';;                                                ')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Orders]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[RATING]  WITH CHECK ADD  CONSTRAINT [FK_RATING_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[RATING] CHECK CONSTRAINT [FK_RATING_Users]
GO
USE [master]
GO
